<ion-header>
  <ion-toolbar>
    <ion-title>
      Eventos Futuros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>Segurança da Informação</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IoT: O Futuro da Internet das Coisas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Blockchain e as Criptomoedas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Desenvolvimento Mobile</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Gestão de Projetos para Iniciantes</ion-label>
    </ion-item>
  </ion-list>

</ion-content>